body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
h1, h2, h3, h4, h5, h6, ul, li, p{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 1280px;
}
/* ------------------header---------------------- */
.header__nav{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}
.header__menu{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header_item{
    margin-left: 33px;
}
.header_link{
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #83888F;
}
.header_link:hover{
    color: #333D4B;
}
/* ------------------section one-------------------------- */
.coffee{
    margin-top: 45px;
    margin-bottom: 165px;
}
.coffee__wrapper{
    background-image: url(../img/Bitmap.jpg),url(../img/Bitmap@2x.jpg);
    width: 1280px;
    height: 600px;
    border-radius: 10px;
}
.into__coffee{
    padding-top: 117px;
    margin-left: 86px;
}
.coffee__title{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.coffee__text{
    margin-top: 32px;
    width: 445px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    font-style: normal;
    margin-bottom: 56px;
}
.coffee__btn{
    font-family: 'Fraunces';
    padding: 15px 31px;
    background: #0E8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    font-style: normal;
    text-decoration: none;
}
.coffee__btn:hover{
    background: #66D2CF;
}
/* --------------section two--------------- */
.collection{
    margin-bottom: 200px;
}
.collection__wrapper{
    margin: 0 auto;
    width: 1111px;
}
.collection__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 150px;
    line-height: 120px;
    text-align: center;
    font-style: normal;
    background: linear-gradient(180deg,  #d6d5d4  0% 10% , #FEFCF7 );
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
} 
.collection__menu{
    display: flex;
    list-style-type: none;
    transform: translateY(-50px);
}
.collection__item{
    margin-right: 30px;
}
.collection__item:nth-child(3){
    margin-right: 45px;
}
.collection__title-bags{
    font-family: 'Fraunces';
    margin-top: 71px;
    text-align: center;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}
.collection__text-bags{
    width: 255px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}
.collection__image-danche{
    margin-top: 15px;
}
/* --------------------section three----------------- */
.choose{
    margin-bottom: 200px;
}
.choose_wrapper{
    background-color: #2C343E;
    border-radius: 10px;
    width: 1280px;
    height: 577px;
}
.choose__title{
    text-align: center;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    padding-top: 100px;
    margin-bottom: 32px;
}
.choose__text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}
.choose__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 86px;
}
.choose__item{
    width: 350px;
    height: 383px;
    background: #0E8784;
    border-radius: 8px;
    margin-right: 30px;
}
.choose__item:nth-child(3){
    margin-right: 0;
}
.choose__image{
    padding: 72px 136px 0 136px;
}
.choose__title_menu{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-top: 56px;
    margin-bottom: 24px;
}
.choose__text_menu{
    width: 255px;
    height: 78px;
    color: #FEFCF7;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 0 48px 48px 48px;
}
.image__surprise{
    padding: 72px 143px 0 135px;
}
.image__car{
    padding: 83px 142px 0 136px;
}
/* -------------------------end------------------------------ */
/* --------------------section four--------------------- */
.work{
    padding-top: 150px;
}
.work__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.line{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2px;
    width: 760px;
    background-color: #FDD6BA;
}
.circle{
    display: inline-block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    /* box-sizing: border-box; */
    border-radius: 50%;
}
.work__menu{
    display: flex;
    list-style-type: none;
    margin-bottom: 64px;
}
.work__item{
    margin-right: 80px;
}
.work__item:nth-child(3){
    margin-right: 0;
}
.work__wrapper{
    margin: 0  auto;
    width: 1111px;
    padding-bottom: 200px;
}
.work__number{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-top: 67px;
    margin-bottom: 38px;
}
.work__tagline{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 42px;
}
.work__text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
/* -----------------footer------------------- */
.footer__wrapper{
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #2C343E;
    position: relative;
    margin-top: 200px;
}
.logo{
    margin: 48px 108px 47px 85px;
}
.footer__menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.footer__link{
    color: #83888F;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-right: 33px;
}
.footer__link:hover{
    color: #FEFCF7;
}
.footer__images{
    position: absolute;
    right: 86px;
}
.footer__right{
    margin-right: 24px;
}
.footer__right:nth-child(3){
  margin-right: 0;
}
