@media only screen and (max-width:1330px) {
    .container{
        width: 970px;
    }
    .coffee__bg{
        width: 970px;
    }
    .collection{
        padding-bottom: 200px;
        &__wrapper{
            margin: 0 auto;
            width: 970px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 130px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3af  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
        } 
        &__menu{
            display: flex;
            list-style-type: none;
            position: absolute;
            top: 50px;
            left: -60px;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-right: -5px;
        }
        &__item:last-child{
            margin:0;
            margin-left: 20px;
        }
        &__title-bags{
            width: 180px;
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 23px;
            line-height: 30px;
            text-align: center;
            color: #333D4B;
            margin: 0;
        }
        &__text-bags{
            width: 180px;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
    }    
    .choose{
        margin: 0 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 970px;
            height: 577px;
        }
        &__title{
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            color: #FEFCF7;
            padding: 100px;
            // margin-bottom: 15px;
            margin: 0;
            padding: 70px 0 70px 0 ;
        }
        &__text{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #FEFCF7;
            opacity: 0.8;
            margin: 0;
            padding: 0;
        }
        &__menu{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 86px;
            padding: 0;
        }
        &__item{
            width: 280px;
            height: 383px;
            background: #0E8784;
            border-radius: 8px;
            margin-right: 20px;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            padding: 52px 116px 0 106px;
        }
        &__title_menu{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #FEFCF7;
            margin-top: 56px;
            margin-bottom: 24px;
        }
        &__text_menu{
            width: 200px;
            height: 78px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            padding: 0 48px 48px 48px;
        }
    }
    .image__surprise{
        padding: 52px 123px 0 105px;
    }
    .image__car{
        padding: 63px 122px 10px 106px;
    }
}
@media only screen and (max-width:1050px) {
    .container{
        width: 750px;
    }
    .coffee__bg{
        width: 750px;
    }
    .collection{
        &__wrapper{
            margin: 0 auto;
            width: 750px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 100px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3af  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
        } 
        &__menu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;
            position: absolute;
            top: 50px;
            left: -60px;
        }
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            margin-right: 40px;
        }
        &__item:last-child{
            margin:0;
            margin-left: 40px;
        }
        &__title-bags{
            width: 240px;
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: #333D4B;
            margin: 0;
        }
        &__text-bags{
            width: 240px;
            font-weight: normal;
            font-style: normal;
            font-size: 15px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
    }    
    .choose{
        margin: 400px 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 750px;
            height: 520px;
        }
        &__title{
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            color: #FEFCF7;
            padding: 100px;
            // margin-bottom: 15px;
            margin: 0;
            padding: 70px 0 70px 0 ;
        }
        &__text{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #FEFCF7;
            opacity: 0.8;
            margin: 0;
            padding: 0;
        }
        &__menu{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 86px;
            padding: 0;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 220px;
            height: 353px;
            background: #0E8784;
            border-radius: 8px;
            margin-right: 20px;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            width: 62px;
            height: 62px;
            padding: 32px 96px 10px 86px;
        }
        &__title_menu{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: #FEFCF7;
            margin-top: 26px;
            margin-bottom: 5px;
        }
        &__text_menu{
            width: 150px;
            height: 78px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            padding: 0 48px 48px 48px;
        }
    }
    .image__surprise{
        width: 62px;
        height: 62px;
        padding: 32px 103px 10px 85px;
    }
    .image__car{
        padding: 43px 102px 10px 86px;
    }
}
@media only screen and (max-width:810px) {
    .container{
        width: 640px;
    }
    .coffee__bg{
        width: 640px;
        height: 480px;
    }
    .coffee{
        margin-top: 45px;
        margin-bottom: 105px;
        &__wrapper{
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 48px;
            color: #FEFCF7;
            margin: 0 0 24px 0;
        }
        &__text{
            width: 398px;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            opacity: 0.8;
            font-style: normal;
            margin: 0 0 40px 0;
        }
        &__btn{
            font-family: 'Fraunces';
            padding: 15px 31px;
            background: #0E8784;
            border-radius: 6px;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            font-style: normal;
            text-decoration: none;
        }
        &__btn:hover{
            background: #66D2CF;
        }
        &__intro-wrapper{
            position: absolute;
            top: 104px;
            left: 58px;
        }
        
    }
    .collection{
        padding-bottom: 200px;
        &__wrapper{
            margin: 0 auto;
            width: 640px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 89px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3af  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
        } 
        &__menu{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            position: absolute;
            top: 40px;
            left: 0px;
        }
        &__item{
            display: flex;
            flex-direction: row;
            margin-right: 28px;
            margin-bottom: 48px;
        }
        &__item:last-child{
            margin:0;
            margin-left: 20px;
        }
        &__title-bags{
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
            margin: 0;
            margin-top: -20px;
        }
        &__text-bags{
            width: 289px;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
    }  
    .choose{
        margin: 700px 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 640px;
            height: 573px;
            display: flex;
            flex-direction: column;
        }
        &__title{
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;
            padding: 100px;
            margin: 0;
            padding: 70px 0 24px 0 ;
        }
        &__text{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #FEFCF7;
            opacity: 0.6;
            margin: 0 10px;
            padding: 0 ;
        }
        &__menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 86px;
            padding: 0;
        }
        &__item{
            display: flex;
            flex-direction: row;
            width: 550px;
            height: 180px;
            background: #0E8784;
            border-radius: 8px;
            margin: 0 0 24px 0;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            width: 56px;
            height: 56px;
            padding: 32px 0px 10px 86px;
        }
        &__title_menu{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            color: #FEFCF7;
            margin-top: 26px;
            margin-bottom: 5px;
        }
        &__text_menu{
            width: 344px;
            height: 50px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            text-align: left;
            padding: 0;
            opacity: 0.8;
        }
        &__intro__menu{
            list-style-type: none;
        }
    }
    .image__surprise{
        width: 62px;
        height: 62px;
        padding: 22px 0px 10px 85px;
    }
    .image__car{
        padding: 23px 0px 10px 86px;
    }  
}
@media only screen and (max-width:700px) {
    .container{
        width: 540px;
    }
    .coffee__bg{
        width: 540px;
    }
    .coffee{
        margin-top: 45px;
        margin-bottom: 105px;
        &__wrapper{
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 48px;
            color: #FEFCF7;
            margin: 0 0 24px 0;
        }
        &__text{
            width: 398px;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            opacity: 0.8;
            font-style: normal;
            margin: 0 0 40px 0;
        }
        &__btn{
            font-family: 'Fraunces';
            padding: 15px 31px;
            background: #0E8784;
            border-radius: 6px;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            font-style: normal;
            text-decoration: none;
        }
        &__btn:hover{
            background: #66D2CF;
        }
        &__intro-wrapper{
            position: absolute;
            top: 104px;
            left: 58px;
        }
        
    }
    .collection{
        padding-bottom: 200px;
        &__wrapper{
            margin: 0 auto;
            width: 540px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 70px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3af  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            // margin: 0 ;
        } 
        &__menu{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            position: absolute;
            top: 70px;
            left: -60px;
        }
        &__item{
            display: flex;
            flex-direction: row;
            margin: 0;
            margin-bottom: 48px;
        }
        &__item:last-child{
            margin:0;
        }
        &__title-bags{
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
            margin: 0;
            margin-top: -20px;
        }
        &__text-bags{
            width: 289px;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
    }  
    .choose{
        margin: 700px 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 540px;
            height: 473px;
            display: flex;
            flex-direction: column;
        }
        &__title{
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;
            padding: 100px;
            margin: 0;
            padding: 70px 0 24px 0 ;
        }
        &__text{
            width: 500px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #FEFCF7;
            opacity: 0.6;
            margin: 0 10px;
            padding: 0 ;
        }
        &__menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 50px;
            padding: 0;
        }
        &__item{
            display: flex;
            flex-direction: row;
            width: 470px;
            height: 160px;
            background: #0E8784;
            border-radius: 8px;
            margin: 0 0 14px 0;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            width: 56px;
            height: 56px;
            padding: 22px 20px 10px 36px;
        }
        &__title_menu{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            color: #FEFCF7;
            margin-top: 26px;
            margin-bottom: 5px;
        }
        &__text_menu{
            width: 324px;
            height: 50px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            text-align: left;
            padding: 0;
            opacity: 0.8;
        }
        &__intro__menu{
            list-style-type: none;
        }
    }
    .image__surprise{
        width: 62px;
        height: 62px;
        padding: 22px 20px 10px 35px;
    }
    .image__car{
        width: 62px;
        height: 62px;
        padding: 23px 20px 10px 36px;
    }  
}
@media only screen and (max-width:700px) {
    .container{
        width: 490px;
    }
    .header__menu{
        display: none;
    }
    .header__bar{
        display: block;
    }
    .coffee__bg{
        width: 490px;
    }
    .coffee{
        margin-top: 45px;
        margin-bottom: 105px;
        &__wrapper{
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 40px;
            color: #FEFCF7;
            margin: 0 0 24px 0;
        }
        &__text{
            width: 398px;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            opacity: 0.8;
            font-style: normal;
            margin: 0 0 40px 0;
        }
        &__btn{
            font-family: 'Fraunces';
            padding: 15px 31px;
            background: #0E8784;
            border-radius: 6px;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            font-style: normal;
            text-decoration: none;
        }
        &__btn:hover{
            background: #66D2CF;
        }
        &__intro-wrapper{
            position: absolute;
            top: 104px;
            left: 58px;
        }
        
    }
    .collection{
        padding-bottom: 200px;
        &__wrapper{
            margin: 0 auto;
            width: 440px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 60px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3af  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            // margin: 0 ;
        } 
        &__menu{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            position: absolute;
            top: 70px;
            left: -100px;
        }
        &__image-bag{
            width: 240px;
            height: 170px;
        }
        &__image-planalto{
            width: 230px;
            height: 170px;
        }
        &__image-piccollo{
            width: 230px;
            height: 170px;
        }
        &__image-danche{
            width: 220px;
            height: 160px;
        }
        &__item{
            display: flex;
            flex-direction: row;
            margin: 0;
            margin-bottom: 48px;
        }
        &__item:last-child{
            margin:0;
        }
        &__title-bags{
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
            margin: 0;
            margin-top: -20px;
        }
        &__text-bags{
            width: 289px;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
    }  
    .choose{
        margin: 700px 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 490px;
            height: 673px;
            display: flex;
            flex-direction: column;
        }
        &__title{
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;
            padding: 100px;
            margin: 0;
            padding: 70px 0 24px 0 ;
        }
        &__text{
            width: 450px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #FEFCF7;
            opacity: 0.6;
            margin: 0 10px;
            padding: 0 ;
        }
        &__menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 50px;
            padding: 0;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 379px;
            height: 400px;
            background: #0E8784;
            border-radius: 8px;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            width: 56px;
            height: 56px;
            padding: 72px 104px 36px 104px;
        }
        &__title_menu{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 26px;
            margin-bottom: 5px;
            text-align: center;
        }
        &__text_menu{
            width: 300px;
            height: 50px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            text-align: left;
            padding: 0;
            opacity: 0.8;
            text-align: center;
        }
        &__intro__menu{
            display: flex;
            align-items: center;
            list-style-type: none;
        }
    }
    .image__surprise{
        width: 62px;
        height: 62px;
        padding: 72px 104px 36px 104px;
    }
    .image__car{
        width: 62px;
        height: 62px;
        padding: 72px 104px 36px 104px;
    }  
}
@media only screen and (max-width:550px) {
    .container{
        width: 400px;
    }
    .header__menu{
        display: none;
    }
    .header__bar{
        display: block;
    }
    .coffee__bg{
        width: 400px;
    }
    .coffee{
        margin-top: 45px;
        margin-bottom: 105px;
        &__wrapper{
            position: relative;
        }
        &__title{
            width: 290px;
            text-align: center;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 40px;
            color: #FEFCF7;
        }
        &__text{
            width: 290px;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            opacity: 0.8;
            font-style: normal;
            text-align: center;
        }
        &__btn{
            font-family: 'Fraunces';
            padding: 15px 31px;
            background: #0E8784;
            border-radius: 6px;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            font-style: normal;
            text-decoration: none;
        }
        &__btn:hover{
            background: #66D2CF;
        }
        &__intro-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 104px;
            left: 60px;
        }
        
    }
    .collection{
        padding-bottom: 200px;
        &__wrapper{
            margin: 0 auto;
            width: 400px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 55px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3af  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
        } 
        &__menu{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            position: absolute;
            top: 100px;
            left:30px;
        }
        &__image-bag{
            width: 240px;
            height: 170px;
        }
        &__image-planalto{
            width: 230px;
            height: 170px;
        }
        &__image-piccollo{
            width: 230px;
            height: 170px;
        }
        &__image-danche{
            width: 220px;
            height: 160px;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0;
            margin-bottom: 48px;
        }
        &__item:last-child{
            margin:0;
        }
        &__title-bags{
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
            margin: 0;
            margin-top: 20px;
        }
        &__text-bags{
            width: 289px;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
    }  
    .choose{
        padding: 550px 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 400px;
            height: 673px;
            display: flex;
            flex-direction: column;
        }
        &__title{
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 28px;
            line-height: 28px;
            text-align: center;
            color: #FEFCF7;
            padding: 64px 24px 24px 24px;
        }
        &__text{
            width: 350px;
            // height: 125px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FEFCF7;
            opacity: 0.6;
            margin: 0 25px;
        }
        &__menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 50px;
            padding: 0;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 339px;
            height: 430px;
            background: #0E8784;
            border-radius: 8px;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            width: 66px;
            height: 66px;
            padding: 72px 104px 36px 104px;
        }
        &__title_menu{
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 52px;
            color: #FEFCF7;
            margin: 0;
            text-align: center;
        }
        &__text_menu{
            width: 270px;
            // height: 50px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 35px;
            text-align: left;
            padding: 0;
            opacity: 0.8;
            text-align: center;
        }
        &__intro__menu{
            display: flex;
            align-items: center;
            list-style-type: none;
        }
    }
    .image__surprise{
        width: 72px;
        height: 72px;
        padding: 72px 104px 36px 104px;
    }
    .image__car{
        width: 72px;
        height: 72px;
        padding: 72px 104px 36px 104px;
    }  
}
@media only screen and (max-width:450px) {
    .container{
        width: 300px;
    }
    .header__menu{
        display: none;
    }
    .header__bar{
        display: block;
    }
    .coffee__bg{
        width: 300px;
    }
    .coffee{
        margin-top: 45px;
        margin-bottom: 105px;
        &__wrapper{
            position: relative;
        }
        &__title{
            width: 250px;
            text-align: center;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 35px;
            line-height: 40px;
            color: #FEFCF7;
        }
        &__text{
            width: 250px;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            opacity: 0.8;
            font-style: normal;
            text-align: center;
        }
        &__btn{
            width: 160px;
            font-family: 'Fraunces';
            padding: 13px 25px;
            background: #0E8784;
            border-radius: 6px;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            font-style: normal;
            text-decoration: none;
        }
        &__btn:hover{
            background: #66D2CF;
        }
        &__intro-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 104px;
            left: 25px;
        }
        
    }
    .collection{
        padding-bottom: 100px;
        &__wrapper{
            margin: 0 auto;
            width: 300px;
            position: relative;
        }
        &__title{
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 40px;
            text-align: center;
            font-style: normal;
            background: linear-gradient(180deg,  #b3b3b3d8  0% 10% , #FEFCF7 );
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            margin: 0;
        } 
        &__menu{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            position: absolute;
            top: 100px;
            left:0px;
        }
        &__image-bag{
            width: 240px;
            height: 170px;
        }
        &__image-planalto{
            width: 230px;
            height: 170px;
        }
        &__image-piccollo{
            width: 230px;
            height: 170px;
        }
        &__image-danche{
            width: 220px;
            height: 160px;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0;
            margin-bottom: 48px;
        }
        &__item:last-child{
            margin:0;
        }
        &__title-bags{
            font-family: 'Fraunces';
            text-align: center;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            // text-align: center;
            color: #333D4B;
            margin: 0;
            margin-top: 20px;
        }
        &__text-bags{
            // width: 289px;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            // text-align: center;
            color: #333D4B;
        }
        &__image-danche{
            margin-top: 15px;
        }
        &__intro__menu{
         list-style-type: none;
         padding: 0;
         margin: 0;
        }
        &__intro__item{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }  
    .choose{
        padding: 630px 0 100px 0;
        &__wrapper{
            background-color: #2C343E;
            border-radius: 10px;
            width: 300px;
            height: 673px;
            display: flex;
            flex-direction: column;
        }
        &__title{
            font-family: 'Fraunces';
            text-align: center;
            font-weight: 900;
            font-style: normal;
            font-size: 28px;
            line-height: 28px;
            text-align: center;
            color: #FEFCF7;
            padding: 64px 24px 24px 24px;
        }
        &__text{
            width: 260px;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
            color: #FEFCF7;
            opacity: 0.6;
        }
        &__menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-top: 50px;
            padding: 0;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 260px;
            height: 430px;
            background: #0E8784;
            border-radius: 8px;
        }
        &__item:nth-child(3){
            margin-right: 0;
        }
        &__image{
            width: 66px;
            height: 66px;
            padding: 72px 94px 36px 94px;
        }
        &__title_menu{
            width: 260px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 52px;
            color: #FEFCF7;
            text-align: center;
            margin: 0;
        }
        &__text_menu{
            width: 240px;
            height: 105px;
            color: #FEFCF7;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 35px;
            text-align: left;
            padding: 24px 10px 0 10px;
            opacity: 0.8;
            text-align: center;
        }
        &__intro__menu{
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
    .image__surprise{
        width: 72px;
        height: 72px;
        padding: 72px 94px 36px 94px;
    }
    .image__car{
        width: 72px;
        height: 72px;
        padding: 72px 94px 36px 94px;
    }  
}